.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.welcome {
  margin: 2.5% 0% 5% 0%;
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AI-button,
.Multiplayer-button {
  margin: 20px 10px;
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  transition: background-color 0.15s, color 0.15s, box-shadow 0.15s,
    opacity 0.05s;
}

.AI-button:hover,
.Multiplayer-button:hover {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.AI-button:active,
.Multiplayer-button:active {
  opacity: 0.5;
}

.name-input-container {
  margin: 2% 0% 2% 0%;
  text-align: center;
  font-family: Arial, sans-serif;
}

.name-input-container-1 {
  padding: 10px 20px 10px 20px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
}

.name-input-container-2 {
  padding: 10px 20px 10px 20px;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
}

.name-input {
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 0px;
  width: 300px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
    background-color: white;
  }
  25% {
    transform: translateX(-5px);
    background-color: #f8d7da;
  }
  50% {
    transform: translateX(5px);
    background-color: #f8d7da;
  }
  75% {
    transform: translateX(-5px);
    background-color: #f8d7da;
  }
  100% {
    transform: translateX(0);
    background-color: white;
  }
}

.shake {
  animation: shake 0.65s ease 3;
}
