.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
  gap: 3%;
}

.welcome {
  margin: 2.5% 0% 5% 0%;
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: bold;
}

.button-container {
  display: flex;
  width: 100%;
  height: clamp(0.5rem, 10vh, 5.07vw);
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.AI-button,
.Multiplayer-button {
  position: relative;
  height: 100%;
  width: clamp(1rem, 14vw, 25vh);
  font-size: clamp(0.5rem, 1.4vw, 2.76vh);
  font-weight: bold;
  border-radius: 50px;
}

.name-input-container {
  font-size: clamp(0.5rem, 1.4vw, 2.76vh);
  display: flex;
  width: 30%;
  height: clamp(0.5rem, 10vh, 5.07vw);
  align-items: center;
  justify-content: center;
}

.name-input-container-1 {
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
}

.name-input-container-2 {
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
}

.name-input {
  display: relative;
  color: black;
  font-weight: bold;
  font-size: clamp(0.5rem, 1.4vw, 2.76vh);
  padding: 5px;
  border-radius: 10px;
  border: 0px;
  width: 70%;
  height: 60%;
  margin-right: 15px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
    background-color: white;
  }
  25% {
    transform: translateX(-5px);
    background-color: #f8d7da;
  }
  50% {
    transform: translateX(5px);
    background-color: #f8d7da;
  }
  75% {
    transform: translateX(-5px);
    background-color: #f8d7da;
  }
  100% {
    transform: translateX(0);
    background-color: white;
  }
}

.shake-home {
  animation: shake 0.65s ease 3;
}
