.container-online {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lobby-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(0.5rem, 1.4vw, 2.76vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: lightblue;
  gap: 5%;
  height: 100%;
  width: 100%;
  z-index: 10000;
}

.waiting {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(0.5rem, 1.4vw, 2.76vh);
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 0px;
  z-index: 10001;
  gap: 20%;
  background-color: lightblue;
  display: none;
}

.waiting-text-1 {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.waiting-text-2 {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.lobby-button {
  position: relative;
  height: 100%;
  width: clamp(1rem, 14vw, 25vh);
  font-size: clamp(0.5rem, 1.4vw, 2.76vh);
  font-weight: bold;
  border-radius: 50px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
    background-color: white;
  }
  25% {
    transform: translateX(-5px);
    background-color: #f8d7da;
  }
  50% {
    transform: translateX(5px);
    background-color: #f8d7da;
  }
  75% {
    transform: translateX(-5px);
    background-color: #f8d7da;
  }
  100% {
    transform: translateX(0);
    background-color: white;
  }
}

.shake-board {
  animation: shake 0.65s ease infinite;
  transition: background-color 0.15s ease;
}

.shake-board:hover {
  background-color: black !important;
}
